.FullPageContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.FullPageSection {
  display: flex;
}

.Transition {
  -webkit-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
}