.FullPageContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.FullPageSection {
  display: flex;
  -webkit-transition: transform 0.8s ease-in-out 0s;
  transition: transform 0.8s ease-in-out 0s;
}

.Page {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
